.greeting,
.message {
    position: relative;
    line-height: 28px;
    font-weight: 500;
}

.greeting {
    font-size: 24px;
}

.message {
    margin: 0;
    flex: 1;
}

.normalChat {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    padding: var(--padding-13xl);
    align-items: center;
    justify-content: center;
}

.greatLetsStart {
    margin: 0;
    position: relative;
    line-height: 28px;
    font-weight: 500;
    display: inline-block;
}

.chatWithInput,
.textarea {
    align-self: stretch;
    color: var(--color-white);
}

.chatWithInput {
    border-radius: var(--br-5xs);
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: column;
    padding: var(--padding-13xl);
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}

.container,
.mainWeb {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.container {
    width: 840px;
    padding: 16px;
    gap: 32px;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-plus-jakarta-sans);
    height: 100%;
    overflow: auto;
    align-items: center;
}

.mainWeb {
    position: relative;
    background-color: #2c2c3b;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: var(--padding-13xl);
}